@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 1.7em;
  background: rgba(230, 82, 69, 1);
  color: #fff;
}

h2 {
  font-size: 0.8em;
  font-weight: 400;
}

input {
  height: 2.5em;
  width: 50%;
  border: none;
  border-radius: 20px;
  padding-left: 1em;
  font-size: 0.8em;
  font-family: 'Poppins', sans-serif;
}

input::placeholder {
  color: rgba(78, 78, 78, 0.596);
}

select {
  font-family: 'Poppins', sans-serif;
  height: 2.5em;
}

button {
  border: none;
  border-radius: 20px;
  padding: 0.6em 1em;
  background: rgb(255, 169, 40);
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.header {
  text-align: center;
  padding: 1em;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-item {
  grid-column: span 4;
  padding: 0.5em 1em;
}

.outputflex {
  display: flex;
}

.output {
  margin-right: 1em;
}

@media only screen and (min-device-width: 768px) {
  .grid-item {
    grid-column: span 2;
  }
}

@media only screen and (min-device-width: 1400px) {
  .grid-item {
    grid-column: span 1;
  }
}
